<form id="dataForm">
<input type="hidden" name="info[id]" value="{$info.id}"/>
<input type="hidden" name="act" value="save"/>
<li>
	<div class="list_content" style="width:100px; text-align:right;">类型名称：</div>
	<div class="list_content" style="width:370px; text-align:left; padding-left:5px;padding-right:5px;">
	    <input type="text" class="list_text" style="width:340px;" name="info[name]" value="{$info.name}"/>
	</div>
</li>
<li>
	<div class="list_content" style="width:100px; text-align:right; padding-top:15px;">排序序号：</div>
	<div class="list_content" style="width:370px; text-align:left; padding-left:5px; padding-right:5px;">
	    <input type="text" class="list_text" style="width:340px;" name="info[sort_index]" value="{$info.sort_index|default=$default_sort}"/>
	</div>
</li>
</form>