<form id="dataForm">
<input type="hidden" name="info[pid]" value="{$info.id}"/>
<input type="hidden" name="info[user_id]" value="0"/>
<input type="hidden" name="info[position_id]" value="{$info.position_id}"/>
<input type="hidden" name="info[enroll_id]" value="{$info.enroll_id}"/>
<input type="hidden" name="act" value="save_form"/>
<li>
	<div class="list_content" style="width:100px; text-align:right;">回复内容：</div>
	<div class="list_content" style="width:370px; text-align:left; padding-left:5px;padding-right:5px;">
	    <textarea class="list_text" style="width:340px;height:100px;" name="info[content]"></textarea>
	</div>
</li>
</form>